<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Языковые Карточки{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}" {% if request.path == '/' %}class="active"{% endif %}>Главная</a></li>
            <li><a href="{% url 'cards-list' %}" {% if 'cards/list' in request.path %}class="active"{% endif %}>Список карточек</a></li>
            <li><a href="{% url 'add-card' %}" {% if 'cards/add' in request.path %}class="active"{% endif %}>Добавить карточку</a></li>
        </ul>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
