<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изучение языка карточками</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#" class="active">Главная</a></li>
            <li><a href="#">Список карточек</a></li>
            <li><a href="#">Добавить карточку</a></li>
            <li><a href="#">Конспекты</a></li>
            <li><a href="#">Добавление конспекта</a></li>
        </ul>
    </nav>

    <div class="container">
        <section class="hero">
            <h1>Привет!</h1>
            <p>Это вебсервис для интерактивного изучения языков и записи конспектов</p>
        </section>
    </div>
</body>
</html>

